	
/* Column Classes
 *
 * Width: 1200px
 * Gutter: 20px
 * Link: http://www.billerickson.net/column-class-generator/
--------------------------------------------- */

.five-sixths,
.four-sixths,
.four-fifths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-fifths,
.three-sixths,
.two-fourths,
.two-fifths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 1.66666666667%;
}
 
.one-half,
.three-sixths,
.two-fourths {
	width: 49.1666666667%;
}
 
.one-third,
.two-sixths {
	width: 32.2222222222%;
}
 
.four-sixths,
.two-thirds {
	width: 66.1111111111%;
}
 
.one-fourth {
	width: 23.75%;
}
 
.three-fourths {
	width: 74.5833333333%;
}
 
.one-fifth {
	width: 18.6666666667%;
}
 
.two-fifths {
	width: 39%;
}
 
.three-fifths {
	width: 59.3333333333%;
}
 
.four-fifths {
	width: 79.6666666667%;
}
 
.one-sixth {
	width: 15.2777777778%;
}
 
.five-sixths {
	width: 83.0555555556%;
}
 
.first {
	clear: both;
	margin-left: 0;
}

@media only screen and (max-width: 767px) {

	.five-sixths,
	.four-sixths,
	.four-fifths,
	.one-fifth,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-fifths,
	.three-sixths,
	.two-fourths,
	.two-fifths,
	.two-sixths,
	.two-thirds {
		margin-left: 0;
		width: 100%;
	}
}
